@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


.header {
    font-family: 'Poppins', sans-serif;
    font-size: calc(15px + 0.390625vw);
    width: 100%;
    text-align: left;
    color: black;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  padding-right: 10em;

}

.input {
  width: 100%; // Stretch across the screen
  height: 3em;
  z-index: 2;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid black;
  background: white;
  color: black;
    box-sizing: border-box;
    font-size: calc(10px + 0.390625vw);

}

.loginForm a {
  width: 100%
}

.nextButton,
.loginButton {
    font-family: 'Poppins', sans-serif;
    height: 3em; 
    font-size: calc(10px + 0.390625vw);
  width: 100%; // Stretch across the screen
  box-sizing: border-box;
  padding: 10px;
  z-index: 2;
  margin: 10px 0;
  border: 2px solid black;
  background: black;
  color: white;
  cursor: pointer;
}

.editButton {
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
  border: 1px solid black;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.smallSaveButton {
      font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  float: left;
}

.loginText {
    font-size: calc(10px + 0.390625vw);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: left;
    color: black;
}

.email,
  p {
    font-size: calc(10px + 0.390625vw);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: left;
  }

.emailInput {
    font-size: calc(10px + 0.390625vw);
    font-family: 'Poppins', sans-serif;
float: left;
    text-align: left;
    border: none;
    background: rgb(238, 238, 238, 0.8)
}
.editContainer {
  width: 100%
}


@media (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center; /* Align items to the center for mobile screens */
  }

  .loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: auto;
  flex-direction: column;
  padding-right: 0em;
}
}