.container { 
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/src/assets/images/star\ background\ black\ thin.png") no-repeat center bottom / cover;
  z-index: -1;
}

.container img {
  // put the logo in the center top
position: absolute;
z-index: 1;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0); // Shift the logo back to the left by half it
      width: 300px;
    object-fit: scale-down;
}